<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
          $(document).ready(function(){
            function add_comment(form_data) {
              $.ajax({
                headers: { 
                  'Accept': 'application/json',
                  'Content-Type': 'application/json' 
                },
                  type: "POST",
                  url: "/add_comment",
                  'data': JSON.stringify(form_data),
                  'dataType': 'json',
                  success: function(response)
                  {
                    show_comments(response.id)
                  }
              });
            }
            function show_comments(id){
              $.ajax({
                headers: { 
                  'Accept': 'application/json',
                  'Content-Type': 'application/json' 
                },
                  type: "POST",
                  url: "/show_comments",
                  'data': id,
                  'dataType': 'json',
                  success: function(response)
                  {
                    $("#comment_content_".concat(response.id)).html(response.data);
                  }
              });
            }
          
            $(".comment_form").on('submit' , function(e) {
              e.preventDefault();
              var form = $(this);
              console.log("form", form)
              var form_data = form.serialize()
              console.log(form_data)
              $(".comment_form")[0].reset()
              add_comment(form_data)
            })
            $(".comments-button").click(function(){
              var id =$(this).attr("value");
              console.log("id", id)
              show_comments(id)

            });
          });
             </script>
        <script>
            function search_record() {
              // Declare variables
              var input, filter, ul, li, a, i, txtValue;
              input = document.getElementById('myInput');
              filter = input.value.toUpperCase();
              ul = document.getElementById("myUL");
              li = ul.getElementsByTagName('li');
            
              // Loop through all list items, and hide those who don't match the search query
              for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("span")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            }
          
        </script>
    </header>
    <style>
      body {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
      }
      .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }

      .active, .collapsible:hover {
        background-color: #555;
      }

      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
      }
      </style>
    <body>
        <div class="row">
          <div class="col-md-12 text-right">
            <p>Hello {{ name }}! </p>
            <a href="/logout" class="login-btn btn-space" style="text-decoration:none;">
            <div class="btn btn-primary">
                Logout
            </div>
            </a> 
          </div>
        </div>
        <h1>See your favorite characters fight</h1>
        
        <form action="/add_record" style="margin-left: 50px;">
            <label >Character 1</label><br>
            <input type="text" id="character_1" name="character_1"><br>
            <label >Character 2</label><br>
            <input type="text" id="character_2" name="character_2"><br>
            <label>Anime Name</label><br>
            <input type="text" id="anime_name" name="anime_name"><br><br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- <input class="login-btn btn-space" type="submit" value="Submit"> -->
          </form>
          <!-- <div id="parent-div">

          </div>
          <button 
          hx-post="/retrieve_comments" 
          hx-swap="outerHTML"     
          hx-trigger="click"
          hx-target="#parent-div"
          >
            Click Me
          </button> -->
          
          <div class="text-center">
            <h2>Table of Fighters</h2>
            <input type="text" id="myInput" onkeyup="search_record()" placeholder="Search for names..">
          </div>
          <div class="list-group">
            <ul id="myUL">
                {%for id, character_1, character_2, character_1_votes, character_2_votes, anime_name, total_votes in records%}
                    <li class="list-group-item list-group-item-action text-center">
                        <form style="display: inline-block; margin-right: 10px;" action="{{url_for('vote', id=id, character=character_1)}}" method="post">
                            {{character_1_votes}}
                            <button type="submit" name="button_right" class="btn btn-primary">Vote Left</button>
                            <a id="character_1" name="character_1">{{character_1}}</a>
                        </form>
                        <span class="badge badge-warning text-dark">{{anime_name}}</span>
                        <form style="display: inline-block; margin-left: 10px;" action="{{url_for('vote', id=id, character=character_2)}}" method="post">
                            <a id="character_2" name="character_2">{{character_2}}</a>
                            <button type="submit" name="button_right" class="btn btn-primary">Vote Right</button>
                            {{character_2_votes}}
                        </form>
                        
                        <p>
                          <button class="btn btn-primary comments-button"  value={{id}} type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiv_{{id}}" aria-expanded="false" aria-controls="collapseExample">
                          Comments
                          </button>
                        </p>
                        
                        <div class="collapse" id="collapseDiv_{{id}}">
                          <div id="comment_content_{{id}}">
                            
                          </div>
            
                          <form class="comment_form">

                            <label for="comment">Add Comment:</label>
                            <input type="text" id="comment_{{id}}" name="comment_{{id}}"><br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                          <!-- <form action="{{url_for('comment',id=id)}}" method="post">
                            <label for="comment">Add Comment:</label>
                            <input type="text" id="comment_{{id}}" name="comment_{{id}}"><br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form> -->
                          </div>
                    </li>
                {%endfor%}

            </ul>
          </div>

    </body>
</html>