<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <body>
        <a href="/logout" class="login-btn btn-space" style="text-decoration:none;">
            <div class="btn btn-primary">
                Logout
            </div>
        </a> 
        <h1>See your favorite characters fight</h1>
        <th>Table of Fighters</th>
        <tr></tr>
    </body>
</html>